nose
nose-progressive
nose-testconfig~=0.10
nose_parameterized
rednose
selenium~=3.141.0
requests~=2.24.0
flaky
pandas~=1.0.5
xlrd
loguru~=0.5.1
pyperclip~=1.8.0
pymysql~=0.9.3
pip~=20.1.1
wheel~=0.34.2
setuptools~=49.2.0